/* Grundlayout */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background: #fff;
}

/* Navbar Fix */
app-navbar {
    display: block;
    width: 100%;
}