.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: #222;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
